
body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #242424 !important;
}

html {
  background-color: #242424;
}

body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */

}