body {
  font-family: "Geist Variable", sans-serif;
  background-color: #242424 !important;
}

html {
  background-color: #242424;
}

body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */

}